In [68]:
import pandas as pd

In [69]:
data = pd.read_csv("C:\\Users\\TOHED\\Desktop\\day9.txt", names=["code", "1", "2"])

In [70]:
data

               code   1   2
0                47 NaN NaN
1                26 NaN NaN
2                33 NaN NaN
3                48 NaN NaN
4                45 NaN NaN
..              ...  ..  ..
995  90008581983761 NaN NaN
996  82887979683191 NaN NaN
997  83730061324815 NaN NaN
998  92420970168166 NaN NaN
999  86181313902483 NaN NaN

[1000 rows x 3 columns]

In [71]:
valid = set()
for i in range(25, len(data)):
    for j in range(1, 26):
        if (data["code"].iloc[i]-data["code"].iloc[i-j]) in data["code"][i-26:i-1].tolist():
               valid.add(i)
               break

for r in range(25,len(data)):
    if r not in valid: 
        print (r, ": ",data["code"].iloc[r])

25 :  11
610 :  552655238

In [73]:
valid = set()
for i in range(0, len(data)):
    total = 0
    count = 0
    listindex = []
    for j in range(i, len(data)):
        listindex.append(j)
        total += data["code"].iloc[j]
        count += 1
        if total >= data["code"].iloc[610]:
            break
    if total == data["code"].iloc[610]:
        break

min(data["code"].iloc[j-count+1:j+1])+max(data["code"].iloc[j-count+1:j+1])

70672245