In [183]:
import pandas as pd

In [184]:
data = pd.read_csv("C:\\Users\\TOHED\\Desktop\\day8.txt", names=["content"])

In [185]:
data = data['content'].str.split(" ", expand = True)

In [186]:
data.rename(columns = {0:"command",1:"action"}, inplace = True)

In [187]:
data

    command action
0       acc    +14
1       acc    +11
2       nop   +422
3       acc    +14
4       jmp   +443
..      ...    ...
600     acc    +17
601     acc    -10
602     acc    +22
603     acc    +10
604     jmp     +1

[605 rows x 2 columns]

In [188]:
int(data["action"].loc[601])

-10

In [189]:
acc = 0
index = set()
i = 0

while True:
    if i not in index:
        index.add(i)
    else:
        break
    if data["command"].iloc[i] == "acc":
        acc += int(data["action"].iloc[i])
    elif data["command"].iloc[i] == "jmp":
        i += int(data["action"].iloc[i])-1
    i += 1
        
i

352

In [210]:
solutions = dict()
terminates = dict()
newdata = pd.DataFrame()
for rowindex, nop in data[data["command"]=="nop"].iterrows():
    acc = 0
    index = set()
    i = 0
    newdata = data
    newdata["command"].iloc[rowindex] = "jmp"
    terminates[rowindex] = True
    while i<=len(data):
        if i not in index:
            index.add(i)
        else:
            terminates[rowindex] = False
            break
        if newdata["command"].iloc[i] == "acc":
            acc += int(newdata["action"].iloc[i])
        elif newdata["command"].iloc[i] == "jmp":
            i += int(newdata["action"].iloc[i])-1
        i += 1
    solutions[rowindex] = acc
    newdata["command"].iloc[rowindex] = "nop"
        
for key, value in terminates.items():
    if value:
        print(solutions[key])

In [211]:
solutions = dict()
terminates = dict()
newdata = pd.DataFrame()
for rowindex, nop in data[data["command"]=="jmp"].iterrows():
    acc = 0
    index = set()
    i = 0
    newdata = data
    newdata["command"].iloc[rowindex] = "nop"
    terminates[rowindex] = True
    while True:
        if i>=len(data):
            break
        if i not in index:
            index.add(i)
        else:
            terminates[rowindex] = False
            break
        if i >= len(data):
            break
        if newdata["command"].iloc[i] == "acc":
            acc += int(newdata["action"].iloc[i])
        elif newdata["command"].iloc[i] == "jmp":
            i += int(newdata["action"].iloc[i])-1
        i += 1
    solutions[rowindex] = acc
    newdata["command"].iloc[rowindex] = "jmp"
        
for key, value in terminates.items():
    if value:
        print(solutions[key])

1532