In [339]:
import pandas as pd
import re
import numpy as np

NameError: name 'df' is not defined

In [321]:
f = open("C:\\Users\\TOHED\\Desktop\\day4.txt", "r")
data = f.read()
f.close()

In [322]:
data = data.replace('\n', ';').split(";;")

In [323]:
data = [re.split(";| ", line) for line in data]
#data = pd.DataFrame(data)

In [324]:
data

[['byr:1971',
  'ecl:hzl',
  'pid:112040163',
  'eyr:2023',
  'iyr:2019',
  'hcl:#b6652a',
  'hgt:167cm'],
 ['pid:108667812',
  'eyr:2023',
  'hcl:#623a2f',
  'hgt:171cm',
  'iyr:2018',
  'ecl:amb',
  'byr:1993'],
 ['hcl:#cfa07d',
  'iyr:2014',
  'ecl:blu',
  'eyr:2023',
  'cid:304',
  'hgt:70in',
  'byr:1961'],
 ['byr:1977',
  'hcl:#b6652a',
  'iyr:2017',
  'ecl:oth',
  'pid:703877876',
  'hgt:185cm'],
 ['byr:1972',
  'cid:271',
  'iyr:2016',
  'pid:876104259',
  'hgt:173cm',
  'eyr:2028',
  'ecl:brn',
  'hcl:#733820'],
 ['hgt:174cm',
  'ecl:gry',
  'iyr:2014',
  'eyr:2029',
  'hcl:#c0946f',
  'byr:1967',
  'pid:406306240'],
 ['hcl:#6b5442',
  'iyr:2011',
  'pid:040592028',
  'eyr:2026',
  'ecl:amb',
  'byr:1923'],
 ['pid:293598838',
  'byr:1960',
  'cid:87',
  'iyr:2018',
  'ecl:blu',
  'eyr:2029',
  'hcl:#7d3b0c',
  'hgt:62in'],
 ['iyr:2018',
  'cid:137',
  'hcl:1c7db1',
  'ecl:#38812e',
  'byr:2006',
  'eyr:2038',
  'pid:1239811353',
  'hgt:84'],
 ['hcl:#888785',
  'pid:308480529',
  'iyr:2010',
  'byr:1988',
  'eyr:2025',
  'hgt:176cm',
  'ecl:amb'],
 ['cid:79',
  'ecl:lzr',
  'iyr:2013',
  'byr:1991',
  'hcl:2f49ef',
  'hgt:191cm',
  'pid:378428551'],
 ['iyr:2005',
  'hgt:64in',
  'hcl:89c369',
  'ecl:gry',
  'byr:1932',
  'eyr:2029',
  'pid:753055776'],
 ['ecl:amb',
  'iyr:2017',
  'byr:1969',
  'hcl:#fffffd',
  'pid:305746470',
  'hgt:173cm'],
 ['pid:081972188',
  'iyr:2011',
  'hcl:9bb154',
  'eyr:2024',
  'byr:1966',
  'ecl:oth',
  'cid:185',
  'hgt:171cm'],
 ['pid:522553186',
  'hgt:171cm',
  'ecl:grn',
  'hcl:#7d3b0c',
  'byr:1955',
  'eyr:2025',
  'iyr:1999'],
 ['iyr:2015',
  'byr:1941',
  'pid:140123640',
  'ecl:amb',
  'hgt:153cm',
  'hcl:#ceb3a1',
  'eyr:2020'],
 ['ecl:grn',
  'cid:202',
  'hcl:#602927',
  'eyr:2029',
  'hgt:180cm',
  'byr:1974',
  'pid:658341964',
  'iyr:2017'],
 ['pid:2037156813',
  'eyr:1978',
  'ecl:grn',
  'hcl:519b45',
  'iyr:2011',
  'byr:2017'],
 ['hcl:#fffffd',
  'ecl:hzl',
  'pid:658716289',
  'byr:2001',
  'hgt:154cm',
  'cid:234',
  'eyr:2031',
  'iyr:2010'],
 ['byr:2013',
  'pid:#eb519e',
  'eyr:2026',
  'hgt:157cm',
  'iyr:2030',
  'hcl:7e9d5a',
  'ecl:oth'],
 ['byr:2002',
  'ecl:brn',
  'iyr:1998',
  'hgt:60cm',
  'hcl:#7d3b0c',
  'pid:#90286d',
  'eyr:1938'],
 ['byr:1956',
  'hcl:#efcc98',
  'hgt:190cm',
  'iyr:2010',
  'eyr:2023',
  'ecl:amb',
  'cid:342',
  'pid:278521396'],
 ['hgt:67cm',
  'cid:98',
  'eyr:2036',
  'byr:2028',
  'ecl:grt',
  'hcl:08b5ad',
  'iyr:2029',
  'pid:187cm'],
 ['ecl:dne',
  'hcl:fca461',
  'hgt:129',
  'iyr:2020',
  'eyr:2027',
  'byr:2022',
  'pid:5014208295'],
 ['hgt:169cm',
  'ecl:gry',
  'iyr:2015',
  'eyr:2025',
  'hcl:#733820',
  'pid:240085824',
  'byr:1920'],
 ['iyr:2020',
  'eyr:2033',
  'pid:#3f8e9d',
  'hgt:190in',
  'ecl:brn',
  'hcl:#efcc98',
  'byr:2004'],
 ['iyr:2018',
  'hcl:#18171d',
  'ecl:brn',
  'byr:1933',
  'pid:514517439',
  'hgt:171cm',
  'eyr:2028'],
 ['eyr:2030',
  'pid:053251865',
  'byr:2028',
  'hgt:174cm',
  'iyr:2015',
  'hcl:5a0da9',
  'ecl:hzl'],
 ['hgt:169cm',
  'iyr:2014',
  'ecl:oth',
  'eyr:2029',
  'pid:348737413',
  'hcl:#b6652a',
  'byr:1997'],
 ['hgt:181cm',
  'cid:315',
  'eyr:2021',
  'iyr:2016',
  'byr:1966',
  'ecl:oth',
  'pid:779435812',
  'hcl:#733820'],
 ['pid:5052579', 'cid:268', 'hgt:193in', 'hcl:z', 'iyr:1942', 'eyr:1977'],
 ['eyr:2039',
  'hgt:69cm',
  'cid:337',
  'iyr:2023',
  'pid:568948965',
  'byr:2018',
  'hcl:z',
  'ecl:amb'],
 ['byr:2014',
  'eyr:2028',
  'cid:311',
  'pid:158cm',
  'ecl:#946399',
  'hgt:99',
  'hcl:z',
  'iyr:1978'],
 ['pid:474742310',
  'iyr:2015',
  'eyr:2021',
  'hcl:#14f5da',
  'hgt:163cm',
  'ecl:oth'],
 ['hcl:#efcc98',
  'ecl:blu',
  'hgt:178cm',
  'pid:815309025',
  'byr:2024',
  'iyr:2008',
  'eyr:1922'],
 ['byr:1946',
  'eyr:2028',
  'pid:364439229',
  'iyr:2011',
  'hgt:186cm',
  'cid:79',
  'ecl:blu'],
 ['eyr:2028',
  'hgt:157cm',
  'cid:59',
  'iyr:2010',
  'byr:1927',
  'ecl:brn',
  'pid:893074368'],
 ['hcl:#18171d',
  'ecl:#2defe4',
  'hgt:128',
  'byr:1940',
  'pid:181904523',
  'iyr:2022',
  'eyr:1937'],
 ['eyr:2023',
  'hgt:172cm',
  'iyr:2012',
  'hcl:#a97842',
  'ecl:hzl',
  'byr:1982',
  'pid:638759541'],
 ['cid:91',
  'hcl:#623a2f',
  'byr:1996',
  'eyr:2028',
  'pid:181384347',
  'hgt:175cm',
  'iyr:2020'],
 ['iyr:2017',
  'eyr:2021',
  'ecl:gry',
  'byr:1979',
  'hgt:168cm',
  'hcl:#6b5442',
  'pid:950995084'],
 ['ecl:blu',
  'iyr:2012',
  'byr:1972',
  'hcl:#888785',
  'eyr:2022',
  'hgt:179cm',
  'pid:293827532'],
 ['hgt:179cm',
  'ecl:hzl',
  'iyr:2011',
  'byr:1982',
  'eyr:2020',
  'hcl:#efcc98',
  'cid:209',
  'pid:626732917'],
 ['byr:1989',
  'hcl:#6b5442',
  'pid:679850983',
  'iyr:2020',
  'hgt:192cm',
  'ecl:blu'],
 ['pid:333485773',
  'hgt:167in',
  'ecl:zzz',
  'iyr:1945',
  'eyr:2035',
  'cid:319',
  'hcl:#341e13'],
 ['hgt:64in',
  'cid:202',
  'eyr:2023',
  'ecl:gry',
  'hcl:#c0946f',
  'pid:212611149',
  'byr:1928',
  'iyr:2010'],
 ['hgt:183cm',
  'hcl:#e8fa30',
  'ecl:oth',
  'eyr:2021',
  'byr:1943',
  'pid:667658434',
  'iyr:2010'],
 ['cid:117',
  'byr:2022',
  'hcl:z',
  'ecl:#c6ae1f',
  'iyr:2028',
  'hgt:188cm',
  'pid:0883366415',
  'eyr:2030'],
 ['hcl:z',
  'pid:99347800',
  'iyr:2030',
  'eyr:2032',
  'ecl:#cd1fd7',
  'hgt:192cm',
  'byr:2019'],
 ['hgt:178cm',
  'byr:2013',
  'iyr:2026',
  'hcl:ad3da1',
  'eyr:2020',
  'pid:1626818790'],
 ['hgt:63cm',
  'iyr:1964',
  'eyr:2032',
  'cid:135',
  'byr:2017',
  'hcl:#a97842',
  'pid:#1b83f5',
  'ecl:gmt'],
 ['hcl:c352d2', 'byr:1927', 'ecl:gmt', 'hgt:187cm', 'eyr:2031', 'pid:170cm'],
 ['byr:2022',
  'eyr:1958',
  'ecl:zzz',
  'pid:3692521800',
  'hcl:8b2b50',
  'iyr:1946',
  'hgt:155in'],
 ['ecl:#43f305',
  'hcl:z',
  'byr:2028',
  'pid:63518738',
  'cid:243',
  'eyr:2037',
  'hgt:67cm',
  'iyr:1929'],
 ['ecl:brn',
  'hcl:#888785',
  'pid:495215177',
  'byr:1962',
  'eyr:2021',
  'cid:192',
  'hgt:151cm',
  'iyr:2012'],
 ['ecl:#dcca8e',
  'cid:64',
  'eyr:2030',
  'pid:380057616',
  'hcl:z',
  'iyr:2026',
  'byr:1962'],
 ['hcl:z',
  'ecl:hzl',
  'eyr:2027',
  'byr:2015',
  'pid:302526406',
  'hgt:175cm',
  'iyr:2017'],
 ['byr:1966',
  'cid:133',
  'pid:9953651821',
  'ecl:gry',
  'iyr:2020',
  'hgt:152cm',
  'hcl:#fffffd',
  'eyr:2026'],
 ['hgt:191cm',
  'byr:1960',
  'pid:752655640',
  'hcl:#888785',
  'cid:249',
  'ecl:blu',
  'iyr:2012',
  'eyr:2028'],
 ['pid:#c8c988',
  'eyr:2027',
  'hgt:157in',
  'hcl:z',
  'iyr:2025',
  'byr:2019',
  'ecl:zzz',
  'cid:195'],
 ['hgt:96',
  'pid:95381813',
  'iyr:1950',
  'hcl:#fffffd',
  'eyr:2026',
  'byr:2010',
  'cid:318',
  'ecl:#48a819'],
 ['eyr:2020',
  'ecl:oth',
  'byr:1951',
  'pid:080392492',
  'iyr:2015',
  'hcl:#6b5442',
  'hgt:176cm'],
 ['hgt:162cm',
  'pid:897792747',
  'byr:1968',
  'hcl:#ceb3a1',
  'ecl:grn',
  'eyr:2026',
  'iyr:2014'],
 ['eyr:2038',
  'hcl:cc324a',
  'byr:1983',
  'ecl:brn',
  'hgt:161',
  'pid:#adf47f',
  'cid:208'],
 ['iyr:2013',
  'ecl:blu',
  'hcl:#866857',
  'byr:1981',
  'hgt:157cm',
  'eyr:2025',
  'pid:216910202'],
 ['hgt:152in',
  'byr:1990',
  'iyr:2027',
  'hcl:a4a3ae',
  'ecl:#058ae2',
  'eyr:2037',
  'pid:646420120'],
 ['ecl:oth',
  'byr:1982',
  'eyr:2027',
  'hgt:65in',
  'iyr:2019',
  'hcl:#efcc98',
  'cid:224',
  'pid:854228141'],
 ['pid:772612093',
  'iyr:2027',
  'hgt:175in',
  'byr:1981',
  'hcl:c0b5a9',
  'ecl:utc'],
 ['hcl:#888785',
  'iyr:2014',
  'byr:1975',
  'ecl:blu',
  'pid:461319017',
  'cid:229',
  'eyr:2030',
  'hgt:154cm'],
 ['hgt:179cm',
  'eyr:2024',
  'pid:192cm',
  'iyr:2017',
  'ecl:grt',
  'byr:1934',
  'hcl:z',
  'cid:92'],
 ['hcl:9c9409',
  'iyr:2020',
  'eyr:2030',
  'hgt:156in',
  'cid:189',
  'pid:732321495',
  'byr:1937',
  'ecl:xry'],
 ['eyr:2026',
  'pid:092259220',
  'byr:1943',
  'iyr:2010',
  'hgt:153cm',
  'hcl:#602927'],
 ['byr:1925',
  'hgt:180cm',
  'hcl:#888785',
  'iyr:2014',
  'pid:402548656',
  'eyr:2023',
  'ecl:hzl',
  'cid:188'],
 ['eyr:2020',
  'pid:874307939',
  'hcl:#3f85a4',
  'ecl:gry',
  'hgt:167cm',
  'byr:1959',
  'iyr:2014'],
 ['eyr:2026',
  'hgt:183cm',
  'iyr:2011',
  'byr:1940',
  'ecl:blu',
  'pid:810026000',
  'cid:226',
  'hcl:#866857'],
 ['cid:292',
  'ecl:grt',
  'hgt:72cm',
  'byr:2009',
  'iyr:2000',
  'eyr:1946',
  'hcl:7be409',
  'pid:996363336'],
 ['eyr:2027',
  'iyr:2021',
  'pid:632405666',
  'byr:2027',
  'ecl:#d83a36',
  'hcl:z',
  'hgt:190in'],
 ['cid:80',
  'hgt:173cm',
  'pid:735853952',
  'ecl:gry',
  'hcl:#fffffd',
  'eyr:2025',
  'iyr:2020',
  'byr:1923'],
 ['byr:1977',
  'hcl:#733820',
  'iyr:2020',
  'ecl:#698d72',
  'hgt:186cm',
  'pid:678869986',
  'cid:67',
  'eyr:2021'],
 ['hgt:61cm',
  'iyr:2022',
  'eyr:1972',
  'hcl:979bcf',
  'byr:2023',
  'pid:44037388',
  'ecl:xry'],
 ['eyr:2032', 'pid:193cm', 'hcl:z', 'hgt:68cm', 'byr:2016'],
 ['byr:2008',
  'cid:239',
  'hcl:ddc745',
  'eyr:2033',
  'ecl:#6858b5',
  'hgt:64cm',
  'iyr:2023',
  'pid:89867524'],
 ['iyr:2016',
  'hgt:74in',
  'hcl:#18171d',
  'byr:1959',
  'ecl:blu',
  'pid:848487392',
  'eyr:2027'],
 ['hgt:165in',
  'ecl:grn',
  'byr:1960',
  'eyr:2029',
  'iyr:2017',
  'hcl:#b6652a',
  'pid:096349067'],
 ['eyr:2025',
  'ecl:brn',
  'pid:634481064',
  'iyr:2015',
  'hcl:#7d3b0c',
  'byr:1943'],
 ['ecl:grn',
  'eyr:2021',
  'pid:34753212',
  'cid:51',
  'hgt:184',
  'iyr:1970',
  'byr:2012'],
 ['eyr:1973',
  'iyr:2014',
  'cid:225',
  'byr:2028',
  'ecl:gmt',
  'hgt:158cm',
  'pid:#74f9b8',
  'hcl:f6932a'],
 ['hgt:168cm',
  'hcl:#602927',
  'pid:622067991',
  'ecl:amb',
  'eyr:2025',
  'iyr:2018'],
 ['pid:791399958',
  'byr:1956',
  'eyr:2027',
  'hcl:#602927',
  'ecl:brn',
  'iyr:2016',
  'hgt:192cm'],
 ['hgt:168cm',
  'iyr:2015',
  'cid:115',
  'ecl:#3fa48b',
  'eyr:2037',
  'hcl:#1bf77b',
  'byr:1980',
  'pid:947370470'],
 ['iyr:2008',
  'byr:2021',
  'ecl:zzz',
  'hcl:z',
  'hgt:109',
  'pid:#fc2a91',
  'cid:268',
  'eyr:1957'],
 ['byr:2018',
  'hcl:fef19c',
  'iyr:2014',
  'ecl:blu',
  'eyr:2023',
  'cid:259',
  'pid:193cm',
  'hgt:156'],
 ['hcl:#b6652a',
  'iyr:2023',
  'byr:2021',
  'hgt:153cm',
  'pid:934391984',
  'eyr:2021',
  'ecl:brn'],
 ['pid:168cm',
  'hcl:b13f1e',
  'eyr:2038',
  'iyr:2020',
  'ecl:#7c0a6d',
  'hgt:169in'],
 ['ecl:amb',
  'cid:170',
  'pid:300188824',
  'eyr:2024',
  'byr:1954',
  'hcl:#b6652a',
  'hgt:166cm',
  'iyr:2013'],
 ['ecl:brn',
  'eyr:2023',
  'hcl:#b6652a',
  'byr:1948',
  'hgt:71in',
  'iyr:2015',
  'pid:575973478'],
 ['eyr:2026',
  'hgt:180cm',
  'hcl:#866857',
  'ecl:grn',
  'iyr:2013',
  'byr:1997',
  'pid:864648034'],
 ['ecl:hzl',
  'iyr:2013',
  'eyr:2024',
  'hcl:#02e17f',
  'byr:1960',
  'hgt:163cm',
  'cid:338',
  'pid:972201795'],
 ['iyr:1994', 'eyr:2035', 'ecl:xry', 'hcl:z', 'hgt:167in', 'pid:159cm'],
 ['ecl:hzl',
  'byr:1952',
  'eyr:2024',
  'hgt:191cm',
  'pid:229400637',
  'iyr:2011',
  'hcl:#122db6'],
 ['eyr:2022',
  'pid:467667316',
  'iyr:2019',
  'hcl:#623a2f',
  'hgt:161cm',
  'ecl:oth'],
 ['ecl:hzl',
  'eyr:2030',
  'hcl:#733820',
  'byr:1944',
  'hgt:193cm',
  'pid:819137596'],
 ['cid:321',
  'hgt:184in',
  'ecl:hzl',
  'iyr:2018',
  'byr:2010',
  'eyr:2020',
  'pid:171cm'],
 ['ecl:amb',
  'eyr:2025',
  'hcl:#c0946f',
  'pid:360891963',
  'byr:1925',
  'iyr:2017',
  'hgt:180cm'],
 ['hcl:#cfa07d',
  'byr:1949',
  'eyr:1931',
  'cid:350',
  'ecl:#ff9943',
  'pid:7550350393',
  'hgt:75'],
 ['eyr:2026',
  'ecl:amb',
  'hcl:z',
  'pid:746919391',
  'iyr:2014',
  'hgt:179cm',
  'byr:1997'],
 ['pid:157cm',
  'iyr:2030',
  'hgt:152cm',
  'hcl:ce8aa7',
  'eyr:1976',
  'ecl:grt',
  'cid:160',
  'byr:2011'],
 ['eyr:2022',
  'hgt:183cm',
  'byr:2000',
  'iyr:2016',
  'hcl:#a97842',
  'ecl:blu',
  'pid:500935725'],
 ['cid:245', 'eyr:2026', 'iyr:2015', 'ecl:gry', 'hcl:#cfa07d', 'byr:1946'],
 ['eyr:2022',
  'hgt:168cm',
  'pid:786361311',
  'iyr:2013',
  'hcl:#c0946f',
  'byr:1988',
  'cid:244',
  'ecl:hzl'],
 ['byr:2014',
  'hgt:176in',
  'iyr:2021',
  'hcl:z',
  'pid:6361650130',
  'eyr:2039',
  'cid:300',
  'ecl:#76310d'],
 ['ecl:amb', 'hgt:170in', 'byr:2013', 'iyr:2024', 'eyr:2033', 'hcl:#888785'],
 ['eyr:2025',
  'iyr:1957',
  'cid:182',
  'ecl:blu',
  'pid:253552114',
  'hgt:188cm',
  'hcl:z'],
 ['cid:83',
  'ecl:amb',
  'eyr:2022',
  'byr:1947',
  'iyr:2013',
  'hcl:#cfa07d',
  'hgt:188cm',
  'pid:447734900'],
 ['iyr:2013',
  'hcl:#602927',
  'byr:1979',
  'hgt:167cm',
  'cid:321',
  'pid:978238277',
  'eyr:2020',
  'ecl:grn'],
 ['hgt:73cm',
  'cid:199',
  'ecl:amb',
  'iyr:2019',
  'hcl:#733820',
  'eyr:2021',
  'byr:1939',
  'pid:364966395'],
 ['hgt:168in', 'ecl:lzr', 'eyr:2031', 'pid:#ff10ac', 'byr:2014', 'iyr:2006'],
 ['hgt:164cm',
  'eyr:1994',
  'iyr:2010',
  'ecl:amb',
  'hcl:#7d3b0c',
  'cid:240',
  'pid:191cm',
  'byr:2025'],
 ['ecl:grn',
  'eyr:2029',
  'hcl:#7d3b0c',
  'hgt:158cm',
  'byr:1939',
  'iyr:2012',
  'pid:855145518'],
 ['iyr:2013', 'hcl:#ceb3a1', 'hgt:163cm', 'eyr:2023', 'pid:761215570'],
 ['hgt:154cm',
  'ecl:grn',
  'iyr:2019',
  'byr:1981',
  'eyr:2021',
  'hcl:#602927',
  'cid:80',
  'pid:427938374'],
 ['eyr:2026',
  'hgt:154cm',
  'cid:102',
  'iyr:2012',
  'pid:6632346648',
  'ecl:amb',
  'byr:2010',
  'hcl:z'],
 ['cid:302',
  'iyr:2014',
  'pid:161cm',
  'eyr:2037',
  'byr:2026',
  'ecl:gry',
  'hgt:60',
  'hcl:9fb9e0'],
 ['ecl:brn',
  'iyr:2015',
  'pid:041582949',
  'cid:180',
  'byr:1938',
  'hgt:158cm',
  'hcl:#602927',
  'eyr:2026'],
 ['ecl:xry',
  'pid:#546891',
  'hcl:#18171d',
  'hgt:71cm',
  'byr:1974',
  'iyr:2018',
  'eyr:2026'],
 ['iyr:2015',
  'eyr:2025',
  'ecl:brn',
  'hgt:180cm',
  'hcl:#b6652a',
  'byr:1938',
  'pid:752379523'],
 ['iyr:2020',
  'ecl:grn',
  'hgt:179cm',
  'byr:1929',
  'cid:103',
  'hcl:#602927',
  'pid:212212232'],
 ['pid:262917603',
  'ecl:gry',
  'iyr:2012',
  'hcl:#fffffd',
  'hgt:165cm',
  'eyr:2022',
  'byr:1965'],
 ['byr:1960',
  'eyr:2031',
  'hgt:184in',
  'pid:#ac1606',
  'iyr:2013',
  'hcl:#888785',
  'cid:260',
  'ecl:#7b2c3b'],
 ['byr:1987',
  'eyr:2025',
  'cid:102',
  'hgt:74in',
  'ecl:brn',
  'hcl:#4a6c75',
  'pid:20220733',
  'iyr:2028'],
 ['eyr:2031',
  'pid:823539963',
  'iyr:1957',
  'hgt:159cm',
  'byr:1953',
  'ecl:oth',
  'cid:186',
  'hcl:26d85f'],
 ['ecl:gry',
  'iyr:2011',
  'hgt:167cm',
  'hcl:#fffffd',
  'pid:001642707',
  'eyr:2030',
  'byr:1952'],
 ['iyr:2029',
  'ecl:grt',
  'hcl:z',
  'byr:2011',
  'hgt:64cm',
  'pid:37027672',
  'eyr:1923'],
 ['pid:021102096',
  'eyr:2024',
  'hgt:66',
  'hcl:#a97842',
  'byr:1922',
  'ecl:gry',
  'iyr:2013'],
 ['pid:166477382',
  'ecl:oth',
  'byr:1982',
  'iyr:2010',
  'eyr:2020',
  'hcl:#866857',
  'hgt:60in'],
 ['hcl:#7d3b0c',
  'iyr:2018',
  'pid:065652921',
  'byr:1939',
  'ecl:blu',
  'hgt:180cm',
  'eyr:2028'],
 ['ecl:amb', 'iyr:2020', 'byr:1967', 'hcl:#fffffd', 'eyr:2028', 'hgt:157cm'],
 ['eyr:2029',
  'hgt:185cm',
  'cid:85',
  'hcl:z',
  'iyr:2014',
  'pid:#1f4787',
  'ecl:grn',
  'byr:2010'],
 ['byr:1987',
  'hcl:d397d9',
  'iyr:2028',
  'hgt:158cm',
  'pid:686994921',
  'ecl:hzl'],
 ['ecl:oth',
  'byr:2008',
  'pid:#db73d9',
  'hgt:174cm',
  'hcl:#6b5442',
  'iyr:1955',
  'eyr:2028'],
 ['eyr:2020',
  'ecl:amb',
  'pid:490866828',
  'hcl:#cfa07d',
  'cid:113',
  'hgt:165cm'],
 ['iyr:2011',
  'pid:320518492',
  'eyr:2028',
  'byr:1940',
  'hgt:164cm',
  'cid:84',
  'hcl:#341e13',
  'ecl:grn'],
 ['hgt:142',
  'hcl:z',
  'pid:152cm',
  'iyr:1953',
  'eyr:2040',
  'ecl:#e44f11',
  'byr:2024'],
 ['ecl:gmt',
  'hcl:be7483',
  'eyr:2027',
  'iyr:2026',
  'pid:396722617',
  'hgt:153cm'],
 ['ecl:dne',
  'byr:2015',
  'pid:330208482',
  'hcl:#7d3b0c',
  'iyr:2014',
  'eyr:2022',
  'hgt:95'],
 ['byr:1925',
  'hcl:#7d3b0c',
  'ecl:gry',
  'eyr:2024',
  'pid:694714722',
  'hgt:158cm',
  'iyr:2015',
  'cid:283'],
 ['eyr:2023',
  'hgt:183cm',
  'cid:345',
  'hcl:#6b5442',
  'ecl:hzl',
  'iyr:2019',
  'byr:1971',
  'pid:458416257'],
 ['ecl:#dcae8b',
  'iyr:2027',
  'eyr:1940',
  'byr:2009',
  'hcl:f024de',
  'pid:20713584',
  'hgt:169in'],
 ['hcl:#888785',
  'eyr:2026',
  'byr:1984',
  'iyr:2013',
  'pid:935837461',
  'hgt:193cm',
  'ecl:gry'],
 ['pid:7343429',
  'byr:2002',
  'hgt:191cm',
  'ecl:lzr',
  'iyr:1983',
  'eyr:1966',
  'hcl:#623a2f',
  'cid:302'],
 ['hcl:#888785',
  'iyr:2014',
  'hgt:173cm',
  'byr:2002',
  'pid:005350165',
  'eyr:2022'],
 ['byr:2013',
  'iyr:2028',
  'ecl:lzr',
  'pid:5426915565',
  'eyr:2018',
  'hcl:z',
  'hgt:70cm',
  'cid:142'],
 ['eyr:2021',
  'hgt:157cm',
  'ecl:utc',
  'iyr:2014',
  'byr:1934',
  'cid:348',
  'hcl:#623a2f',
  'pid:607329117'],
 ['iyr:2015',
  'hgt:167cm',
  'ecl:hzl',
  'pid:088516395',
  'hcl:#efcc98',
  'byr:1968',
  'eyr:2029'],
 ['eyr:2028',
  'iyr:2019',
  'cid:199',
  'ecl:amb',
  'hgt:152cm',
  'byr:1928',
  'pid:547112666',
  'hcl:#623a2f'],
 ['pid:406202463',
  'byr:1950',
  'cid:214',
  'eyr:2021',
  'hcl:#fffffd',
  'hgt:177cm',
  'ecl:brn'],
 ['eyr:2029',
  'cid:210',
  'byr:1982',
  'pid:578085789',
  'ecl:brn',
  'hgt:187cm',
  'iyr:2010',
  'hcl:#c0946f'],
 ['byr:1980',
  'hcl:#c0946f',
  'hgt:159cm',
  'pid:177650318',
  'eyr:2024',
  'ecl:amb',
  'iyr:2019'],
 ['pid:923359071',
  'byr:1997',
  'ecl:#faa530',
  'eyr:2028',
  'iyr:2013',
  'hcl:e6c902',
  'hgt:177cm'],
 ['eyr:2040',
  'cid:98',
  'hgt:156in',
  'ecl:oth',
  'iyr:1996',
  'pid:81500971',
  'hcl:#6b5442',
  'byr:2017'],
 ['byr:2004',
  'iyr:1941',
  'hcl:e1e4bb',
  'hgt:67cm',
  'pid:1143915351',
  'ecl:#0d3e5d',
  'eyr:1972'],
 ['hgt:184cm',
  'hcl:#623a2f',
  'eyr:2028',
  'pid:680951513',
  'ecl:grn',
  'iyr:2014',
  'byr:2001'],
 ['hcl:#866857',
  'hgt:156cm',
  'eyr:2020',
  'ecl:grn',
  'iyr:2010',
  'pid:589945116'],
 ['pid:599795227',
  'iyr:2016',
  'ecl:grn',
  'hcl:#cfa07d',
  'hgt:157cm',
  'byr:1967',
  'eyr:2029'],
 ['hcl:#b6652a',
  'byr:1966',
  'iyr:2017',
  'pid:117232314',
  'ecl:oth',
  'hgt:186cm',
  'eyr:2029'],
 ['pid:605019880',
  'iyr:2020',
  'hgt:169cm',
  'byr:1980',
  'hcl:#623a2f',
  'ecl:hzl',
  'eyr:2030'],
 ['eyr:2019',
  'hcl:#ceb3a1',
  'pid:988269284',
  'iyr:2015',
  'byr:1989',
  'hgt:171cm',
  'ecl:oth'],
 ['cid:311',
  'byr:1998',
  'ecl:hzl',
  'eyr:2027',
  'hgt:152cm',
  'pid:734870801',
  'hcl:#7d3b0c',
  'iyr:2013'],
 ['hcl:#efcc98',
  'hgt:180cm',
  'iyr:2020',
  'pid:202682423',
  'byr:2027',
  'ecl:grn',
  'eyr:2030'],
 ['hcl:f0701f',
  'pid:161cm',
  'cid:291',
  'hgt:160in',
  'iyr:2030',
  'ecl:#e12345'],
 ['cid:248',
  'byr:1943',
  'eyr:2024',
  'hgt:181cm',
  'ecl:brn',
  'iyr:2010',
  'hcl:#bf813e'],
 ['byr:2005',
  'hgt:187in',
  'eyr:2034',
  'iyr:2025',
  'hcl:z',
  'ecl:gmt',
  'pid:78691465'],
 ['byr:2000',
  'hcl:#574f4e',
  'eyr:2024',
  'iyr:2017',
  'pid:#fec795',
  'hgt:185cm',
  'ecl:gry'],
 ['hcl:#a97842',
  'byr:1959',
  'iyr:2019',
  'pid:690444949',
  'hgt:160in',
  'eyr:1978'],
 ['cid:236',
  'iyr:2010',
  'eyr:2025',
  'byr:1976',
  'pid:398376853',
  'hcl:#341e13',
  'hgt:150cm'],
 ['hgt:182cm',
  'iyr:2019',
  'hcl:#866857',
  'ecl:grn',
  'byr:1926',
  'eyr:2029',
  'pid:307880154',
  'cid:94'],
 ['ecl:blu',
  'hgt:182cm',
  'pid:178cm',
  'byr:2019',
  'eyr:2025',
  'iyr:2022',
  'hcl:#a2117d'],
 ['eyr:2020',
  'hcl:#c0946f',
  'ecl:amb',
  'pid:135511825',
  'byr:1954',
  'hgt:68in',
  'iyr:2017'],
 ['hgt:188cm',
  'ecl:amb',
  'iyr:2011',
  'pid:949021029',
  'eyr:2028',
  'hcl:#fffffd',
  'byr:1986'],
 ['iyr:1949', 'pid:#8a8d94', 'ecl:#922a92', 'byr:1925', 'hcl:#63c4a5'],
 ['hcl:#c0946f',
  'ecl:grn',
  'iyr:2013',
  'eyr:2024',
  'pid:420295283',
  'hgt:181cm',
  'byr:1977'],
 ['byr:1941',
  'pid:299186098',
  'hcl:#f1fa72',
  'iyr:2013',
  'ecl:amb',
  'eyr:2022',
  'hgt:152cm',
  'cid:150'],
 ['ecl:blu', 'eyr:2021', 'hgt:60in', 'hcl:#623a2f', 'byr:1930', 'iyr:2018'],
 ['eyr:2028',
  'pid:663108638',
  'hgt:75in',
  'cid:217',
  'byr:1962',
  'ecl:brn',
  'hcl:#733820'],
 ['hcl:#341e13',
  'hgt:188cm',
  'ecl:blu',
  'pid:868930517',
  'eyr:2029',
  'iyr:2010',
  'byr:1938'],
 ['pid:194376910',
  'byr:1956',
  'hcl:#cd4ab4',
  'eyr:1940',
  'iyr:2012',
  'ecl:#396cc3'],
 ['pid:#c5da2a',
  'hgt:162cm',
  'hcl:#866857',
  'cid:95',
  'ecl:#fa1f85',
  'iyr:1965',
  'byr:1963',
  'eyr:2039'],
 ['pid:44063430',
  'hcl:289b20',
  'ecl:#77ddd9',

In [325]:
data = pd.DataFrame([dict(i.split(":") for i in list(filter(None, l))) for l in data])

In [326]:
data

      byr      ecl         pid   eyr   iyr      hcl    hgt  cid
0    1971      hzl   112040163  2023  2019  #b6652a  167cm  NaN
1    1993      amb   108667812  2023  2018  #623a2f  171cm  NaN
2    1961      blu         NaN  2023  2014  #cfa07d   70in  304
3    1977      oth   703877876   NaN  2017  #b6652a  185cm  NaN
4    1972      brn   876104259  2028  2016  #733820  173cm  271
..    ...      ...         ...   ...   ...      ...    ...  ...
254  1988      grn   809135189  2027  2020  #888785  162cm  NaN
255  2003      blu  4446708453  2008  2013  #888785  188cm  NaN
256  1955  #db642f   756089060  2020  2014   371f72  165in  NaN
257  2023      lzr       175cm  2037  2026   03b398  177in  NaN
258  1942      blu   289923625  2023  2017  #733820  151cm  NaN

[259 rows x 8 columns]

In [327]:
data = data[data[['byr', 'iyr', 'eyr', 'hgt', 'hcl', 'ecl', 'pid']].notnull().all(1)]
data = data.loc[(data['byr'].astype('int32') >= 1920) & (data['byr'].astype('int32') <= 2002)]
data = data.loc[(data['iyr'].astype('int32') >= 2010) & (data['iyr'].astype('int32') <= 2020)]
data = data.loc[(data['eyr'].astype('int32') >= 2020) & (data['eyr'].astype('int32') <= 2030)]

In [328]:
data.hgt = [x.replace('c', ' c') for x in data.hgt]
data.hgt = [x.replace('i', ' i') for x in data.hgt]

In [329]:
data[['hgt', 'unit']] = data['hgt'].str.split(' ',expand=True)

In [330]:
data = data[data[['unit']].notnull().all(1)]

In [331]:
data2 = data[(data['unit'] == 'cm') & ((data['hgt'].astype('int32') < 150) | (data['hgt'].astype('int32') > 193))].index
data.drop(data2, inplace=True)

In [332]:
data2 = data[(data['unit'] == 'in') & ((data['hgt'].astype('int32') < 59) | (data['hgt'].astype('int32') > 76))].index
data.drop(data2, inplace=True)

In [333]:
data2 = data[(data['hcl'].str.len() != 7)].index
data.drop(data2, inplace=True)

In [334]:
chars = set('0123456789abcdef')
data2 = []
for index, row in data.iterrows():
    if row.hcl[0] != '#':
        data2.add(row)
        print("#",row.hcl)
        continue
    
    s = row.hcl.replace("#", "", 1)
    if any((c not in chars) for c in s):
        data2.add(row)
        print(c,row.hcl)
        continue
data.drop(data2, inplace=True)

In [335]:
data

      byr  ecl        pid   eyr   iyr      hcl  hgt  cid unit
0    1971  hzl  112040163  2023  2019  #b6652a  167  NaN   cm
1    1993  amb  108667812  2023  2018  #623a2f  171  NaN   cm
4    1972  brn  876104259  2028  2016  #733820  173  271   cm
5    1967  gry  406306240  2029  2014  #c0946f  174  NaN   cm
7    1960  blu  293598838  2029  2018  #7d3b0c   62   87   in
..    ...  ...        ...   ...   ...      ...  ...  ...  ...
249  1935  grn  612879095  2027  2018  #888785  155  108   cm
252  1937  oth  466737179  2025  2020  #cfa07d  171  244   cm
253  1993  brn  855375268  2028  2018  #341e13  179  NaN   cm
254  1988  grn  809135189  2027  2020  #888785  162  NaN   cm
258  1942  blu  289923625  2023  2017  #733820  151  NaN   cm

[107 rows x 9 columns]

In [336]:
valid = ['amb', 'blu', 'brn', 'gry', 'grn', 'hzl', 'oth']
data = data[data['ecl'].isin(valid)]

In [337]:
data[(data['pid'].str.len() == 9) & (data['pid'].str.isnumeric())]

      byr  ecl        pid   eyr   iyr      hcl  hgt  cid unit
0    1971  hzl  112040163  2023  2019  #b6652a  167  NaN   cm
1    1993  amb  108667812  2023  2018  #623a2f  171  NaN   cm
4    1972  brn  876104259  2028  2016  #733820  173  271   cm
5    1967  gry  406306240  2029  2014  #c0946f  174  NaN   cm
7    1960  blu  293598838  2029  2018  #7d3b0c   62   87   in
..    ...  ...        ...   ...   ...      ...  ...  ...  ...
249  1935  grn  612879095  2027  2018  #888785  155  108   cm
252  1937  oth  466737179  2025  2020  #cfa07d  171  244   cm
253  1993  brn  855375268  2028  2018  #341e13  179  NaN   cm
254  1988  grn  809135189  2027  2020  #888785  162  NaN   cm
258  1942  blu  289923625  2023  2017  #733820  151  NaN   cm

[101 rows x 9 columns]

In [341]:
pd.set_option('display.max_rows', data.shape[0]+1)
data

      byr  ecl         pid   eyr   iyr      hcl  hgt  cid unit
0    1971  hzl   112040163  2023  2019  #b6652a  167  NaN   cm
1    1993  amb   108667812  2023  2018  #623a2f  171  NaN   cm
4    1972  brn   876104259  2028  2016  #733820  173  271   cm
5    1967  gry   406306240  2029  2014  #c0946f  174  NaN   cm
7    1960  blu   293598838  2029  2018  #7d3b0c   62   87   in
9    1988  amb   308480529  2025  2010  #888785  176  NaN   cm
15   1941  amb   140123640  2020  2015  #ceb3a1  153  NaN   cm
16   1974  grn   658341964  2029  2017  #602927  180  202   cm
21   1956  amb   278521396  2023  2010  #efcc98  190  342   cm
24   1920  gry   240085824  2025  2015  #733820  169  NaN   cm
26   1933  brn   514517439  2028  2018  #18171d  171  NaN   cm
28   1997  oth   348737413  2029  2014  #b6652a  169  NaN   cm
29   1966  oth   779435812  2021  2016  #733820  181  315   cm
38   1982  hzl   638759541  2023  2012  #a97842  172  NaN   cm
40   1979  gry   950995084  2021  2017  #6b5442  168  NaN   cm
41   1972  blu   293827532  2022  2012  #888785  179  NaN   cm
42   1982  hzl   626732917  2020  2011  #efcc98  179  209   cm
45   1928  gry   212611149  2023  2010  #c0946f   64  202   in
46   1943  oth   667658434  2021  2010  #e8fa30  183  NaN   cm
54   1962  brn   495215177  2021  2012  #888785  151  192   cm
57   1966  gry  9953651821  2026  2020  #fffffd  152  133   cm
58   1960  blu   752655640  2028  2012  #888785  191  249   cm
61   1951  oth   080392492  2020  2015  #6b5442  176  NaN   cm
62   1968  grn   897792747  2026  2014  #ceb3a1  162  NaN   cm
64   1981  blu   216910202  2025  2013  #866857  157  NaN   cm
66   1982  oth   854228141  2027  2019  #efcc98   65  224   in
68   1975  blu   461319017  2030  2014  #888785  154  229   cm
72   1925  hzl   402548656  2023  2014  #888785  180  188   cm
73   1959  gry   874307939  2020  2014  #3f85a4  167  NaN   cm
74   1940  blu   810026000  2026  2011  #866857  183  226   cm
77   1923  gry   735853952  2025  2020  #fffffd  173   80   cm
82   1959  blu   848487392  2027  2016  #18171d   74  NaN   in
88   1956  brn   791399958  2027  2016  #602927  192  NaN   cm
94   1954  amb   300188824  2024  2013  #b6652a  166  170   cm
95   1948  brn   575973478  2023  2015  #b6652a   71  NaN   in
96   1997  grn   864648034  2026  2013  #866857  180  NaN   cm
97   1960  hzl   972201795  2024  2013  #02e17f  163  338   cm
99   1952  hzl   229400637  2024  2011  #122db6  191  NaN   cm
103  1925  amb   360891963  2025  2017  #c0946f  180  NaN   cm
107  2000  blu   500935725  2022  2016  #a97842  183  NaN   cm
109  1988  hzl   786361311  2022  2013  #c0946f  168  244   cm
113  1947  amb   447734900  2022  2013  #cfa07d  188   83   cm
114  1979  grn   978238277  2020  2013  #602927  167  321   cm
118  1939  grn   855145518  2029  2012  #7d3b0c  158  NaN   cm
120  1981  grn   427938374  2021  2019  #602927  154   80   cm
123  1938  brn   041582949  2026  2015  #602927  158  180   cm
125  1938  brn   752379523  2025  2015  #b6652a  180  NaN   cm
127  1965  gry   262917603  2022  2012  #fffffd  165  NaN   cm
131  1952  gry   001642707  2030  2011  #fffffd  167  NaN   cm
134  1982  oth   166477382  2020  2010  #866857   60  NaN   in
135  1939  blu   065652921  2028  2018  #7d3b0c  180  NaN   cm
141  1940  grn   320518492  2028  2011  #341e13  164   84   cm
145  1925  gry   694714722  2024  2015  #7d3b0c  158  283   cm
146  1971  hzl   458416257  2023  2019  #6b5442  183  345   cm
148  1984  gry   935837461  2026  2013  #888785  193  NaN   cm
153  1968  hzl   088516395  2029  2015  #efcc98  167  NaN   cm
154  1928  amb   547112666  2028  2019  #623a2f  152  199   cm
156  1982  brn   578085789  2029  2010  #c0946f  187  210   cm
157  1980  amb   177650318  2024  2019  #c0946f  159  NaN   cm
161  2001  grn   680951513  2028  2014  #623a2f  184  NaN   cm
163  1967  grn   599795227  2029  2016  #cfa07d  157  NaN   cm
164  1966  oth   117232314  2029  2017  #b6652a  186  NaN   cm
165  1980  hzl   605019880  2030  2020  #623a2f  169  NaN   cm
167  1998  hzl   734870801  2027  2013  #7d3b0c  152  311   cm
172  2000  gry     #fec795  2024  2017  #574f4e  185  NaN   cm
175  1926  grn   307880154  2029  2019  #866857  182   94   cm
177  1954  amb   135511825  2020  2017  #c0946f   68  NaN   in
178  1986  amb   949021029  2028  2011  #fffffd  188  NaN   cm
180  1977  grn   420295283  2024  2013  #c0946f  181  NaN   cm
181  1941  amb   299186098  2022  2013  #f1fa72  152  150   cm
184  1938  blu   868930517  2029  2010  #341e13  188  NaN   cm
188  1937  brn   990171473  2028  2015  #fffffd  165   68   cm
190  1997  oth   349316183  2029  2016  #7d3b0c  185  NaN   cm
192  1979  grn   399767457  2024  2015  #18171d  160  NaN   cm
195  1928  grn   243566446  2022  2015  #c0946f  157  NaN   cm
196  1988  amb   939550667  2030  2017  #733820  193  125   cm
199  1922  amb   590705772  2020  2012  #c0946f  178  218   cm
202  1952  oth   294223216  2027  2012  #ceb3a1  171   58   cm
203  1923  oth   457433756  2022  2013  #888785  186  336   cm
205  1989  grn   571696542  2020  2014  #ffeffd  189  267   cm
213  1970  oth   086579106  2021  2017  #341e13  174  NaN   cm
214  1998  oth   479696359  2020  2017  #6b5442  174  207   cm
215  1951  hzl   563337128  2025  2014  #cfa07d  163  NaN   cm
216  1970  gry   848996674  2027  2013  #efcc98  172  NaN   cm
219  1921  blu   125944934  2025  2018  #b6652a   62   71   in
220  1957  brn   932690969  2026  2017  #602927  172  NaN   cm
221  1998  oth   709772213  2029  2010  #efcc98   74  146   in
222  1965  hzl   813272708  2028  2011  #6b5442   68  325   in
225  1927  gry       161cm  2021  2018  #6b5442  150  NaN   cm
227  1946  oth   129913905  2025  2014  #18171d  175  159   cm
229  1981  blu   714902414  2021  2014  #a97842  172  160   cm
230  1921  oth   021318713  2021  2018  #b6652a  168  NaN   cm
232  1970  hzl   476171876  2024  2019  #efcc98  181  NaN   cm
233  1949  oth   078204562  2029  2018  #18171d  165  NaN   cm
238  1936  gry   444305229  2025  2013  #733820  175  NaN   cm
242  1923  hzl   321400085  2023  2016  #733820  189  NaN   cm
244  1934  gry   265966660  2021  2011  #7d3b0c  180  225   cm
245  1931  oth   550612542  2026  2014  #cfa07d  163   99   cm
246  1996  gry   295386055  2025  2018  #5d9d64  156  NaN   cm
248  1939  blu    86472746  2030  2013  #b6652a  192  NaN   cm
249  1935  grn   612879095  2027  2018  #888785  155  108   cm
252  1937  oth   466737179  2025  2020  #cfa07d  171  244   cm
253  1993  brn   855375268  2028  2018  #341e13  179  NaN   cm
254  1988  grn   809135189  2027  2020  #888785  162  NaN   cm
258  1942  blu   289923625  2023  2017  #733820  151  NaN   cm